<div id="main" class="container">
	<div class="col-xs-12"> 
		<h2 class="page-header">About</h2>
	</div>
	<div class="about-text col-md-10 col-xs-12">
		<h4>What is this?</h4>
		<p>This page is intended to help your normalize and manage your emotional responses. Through the use of IBM's "Watson", a "cognitive system" that "learns at scale", it is now possible to quickly and reliably draw up a series of indices corresponding to the emotional tenor of a given piece of writing.</p>
		<p>It is difficult to say with any certainty how accurate Watson's calculations are. It pretends to a much greater degree of objectivity than any of us can, and so is accountable only to itself.</p>
		<p>The fact of its being unreliable and possibly entirely off-base is no reason not to put it to good use, though.</p>
		<p>Frequently I get emails. Sometimes these emails seem, to me, to have an emotional content that is difficult to contextualize. In the middle of an otherwise normal conversation, something snags.</p>
		<p>Sometimes these emails leave me disoriented and confused. I am unsure whether I've imagined this perceived tone. I need to reply, but am not sure I can pitch my own 'email voice' to match that of my correspondent. I struggle.</p>
		<p>Thankfully, I do not have to struggle anymore, because I've built this website.</p>
	</div>

	<div class="about-text col-md-10 col-xs-12">
		<h4>Where did this come from?</h4>
		<p>This site was designed by Gil Lawson for the purpose of putting the Watson AlchemyLanguage API toward a practical, non-ad-related use.</p>
		<span>You can view the Github repository for this site by clicking on the following cube: &nbsp;<a href="https://github.com/gewl/meadows"><img src="images/cube.png" alt="cube"></a></span>
		<br />
		<span>You can view the documentation for the Watson AlchemyLanguage api by clicking on the following cube: &nbsp;<a href="http://www.ibm.com/watson/developercloud/doc/alchemylanguage/"><img src="images/cube.png" alt="cube"></a></span>
		<br />
		<span>You can email the author of this site by clicking on the following cube: &nbsp;<a href="http://www.ibm.com/watson/developercloud/doc/alchemylanguage/"><img src="images/cube.png" alt="cube"></a></span>
	</div>
</div>

