<div id="main" class="container">
	<div class="col-xs-12"> 
		<h2 class="page-header">About</h2>
	</div>
	<div class="col-md-10 col-xs-12">
		<p>This site was designed by Gil Lawson for the purpose of putting the Watson AlchemyLanguage API toward a practical, non-ad-related use.</p>
		<span>You can view the Github repository for this site by clicking on the following cube: &nbsp;<a href="https://github.com/gewl/meadows"><img src="images/cube.png" alt="cube"></a></span>
		<br />
		<span>You can view the documentation for the Watson AlchemyLanguage api by clicking on the following cube: &nbsp;<a href="http://www.ibm.com/watson/developercloud/doc/alchemylanguage/"><img src="images/cube.png" alt="cube"></a></span>
		<br />
		<span>You can email the author of this site by clicking on the following cube: &nbsp;<a href="http://www.ibm.com/watson/developercloud/doc/alchemylanguage/"><img src="images/cube.png" alt="cube"></a></span>
	</div>
</div>

