@font-face {
	font-family: HelveticaNeueBold;
	src: local("Helvetica Neue Bold"),
		local("HelveticaNeue-Bold"),
		url(/fonts/HelveticaNeue-Bold.otf);
}

@font-face {
	font-family: HelveticaNeue;
	src: local("Helvetica Neue"),
		local("HelveticaNeue"),
		url(/fonts/HelveticaNeue.otf);
		font-weight: normal;
}

html body {
	background-color: mistyrose;
	font-family: 'HelveticaNeue', Arial;
}

ul {
	font-family: 'HelveticaNeueBold';
}

button {
	color: black !important;
	font-family: 'HelveticaNeueBold';
	text-transform: uppercase;
	box-shadow: 2px 2px 0 0 #000000;
	outline: none !important;
}

footer {
	height: 80px;
}

td {
	background-color: white;
}

#detailed-button {
	margin-bottom: 40px;
}

.form-group p {
	font-style: italic;
}

.printout {
	margin-bottom: 50px;
}

.page-header {
	font-style: italic;
}

.messageInput {
	margin-top: 20px;
	height: auto;
}

.emotionNavbar {
	padding: 0px !important;
}

.navbar-nav {
	margin-top: -50px;
	margin-left: 80px;
}

.emotionNavbar li {
	-webkit-transform: rotate(20deg);
    -moz-transform: rotate(20deg);
    -ms-transform: rotate(20deg);
    -o-transform: rotate(20deg);
    font-size: 20px;
    color: black;
    height: 30px;
}

#navbar-image {
	height: 100px;
	width: 100px;
	margin-top: -15px; 
	margin-left: -15px;
	padding:1px;
	border:1px ridge #021a40;
}

.emotionOutput {
	padding: 15px;
	border: 3px black;
	border-radius: 10px;
	box-shadow: 2px 2px;
	font-weight: bold;
	margin-bottom: 20px;
}

#anger {
	background-color: red;
}

#disgust {
	background-color: lightgreen;
}

#fear {
	background-color: yellow;
}

#joy {
	background-color: pink;
}

#sadness {
	background-color: lightblue;
}

.input-table {
	background-color: white;
}

.table {
	box-shadow: 2px 2px 0 0 #000000;
}

.input-table td {
	border: 1px solid black;
}

.column-header {
	font-family: "HelveticaNeueBold";
	background-color: lavender;
}
