<div id="main" class="container">
	<h2 class="page-header">Detailed report.</h2>
	<div class="row">
		<h3>Input.</h3>
		<div class="col-md-10 col-sm-12">
			<table class="table table-bordered table-responsive" id="input-table">
				<tr>
					<td class="column-header">Original message.</td>
					<td class="column-header">Your response.</td>
				</tr>
				<tr>
					<td>{{ originalInput }}</td>
					<td>{{ responseInput }}</td>
				</tr>
			</table>
		</div>
	</div>
	<div class="row">
		<h3>Emotional indices.</h3>
		<div class="col-md-10 col-sm-12">
			<table class="table table-bordered table-responsive" id="input-table">
				<tr>
					<td class="column-header">Emotion</td>
					<td class="column-header">Index in original.</td>
					<td class="column-header">Index in response.</td>
					<td class="column-header">Difference from original.</td>
				</tr>
				<tr ng-repeat="(emotion, feelingIndex) in emotionVariance">
					<td id="{{ emotion }}">{{ emotion }}</td>
					<td>{{ originalEmotions[emotion] }}</td>
					<td>{{ responseEmotions[emotion] }}</td>
					<td>{{ feelingIndex }}</td>
				</tr>
			</table>
		</div>
	</div>
	<div class="row">
		<h3>Concepts in their message.</h3>
		<div class="col-md-10 col-sm-12">
			<table class="table table-bordered table-responsive" class="input-table">
				<tr>
					<td class="column-header">Concept.</td>
					<td class="column-header">Discussed by you.</td>
					<td class="column-header">Relevance.</td>
				</tr>
				<tr ng-repeat="concept in originalConcepts">
					<td>{{ concept.text }}</td>
					<td>{{ responseConceptsCheck(concept.text) }}</td>
					<td>{{ concept.relevance }}</td>
				</tr>
			</table>
		</div>
	</div>
	<div class="row">
		<h3>Concepts in your response.</h3>
		<div class="col-md-10 col-sm-12">
			<table class="table table-bordered table-responsive" class="input-table">
				<tr>
					<td class="column-header">Concept.</td>
					<td class="column-header">Discussed by them.</td>
					<td class="column-header">Relevance.</td>
				</tr>
				<tr ng-repeat="concept in responseConcepts">
					<td>{{ concept.text }}</td>
					<td>{{ originalConceptsCheck(concept.text) }}</td>
					<td>{{ concept.relevance }}</td>
				</tr>
			</table>
		</div>
	</div>
	<button ng-click="logEntities">log entities</button>
</div>
